.active {
  display: block;
}


.container {
  width: 100%;
  max-width: 800px;
  margin: 70px 20px 20px 200px;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  font-family: $text-font;
}

@media (min-width: 992px) and (max-width: 1024px) {
  .page {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
  }

  &.active {
    display: block;
  }

  .container {
    width: 100%;
    max-width: 800px;
    margin: 70px 20px 20px 200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .page {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
  }

  &.active {
    display: block;
  }

  .container {
    width: 100%;
    max-width: 800px;
    margin: 70px 20px 20px 200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .page {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
  }

  &.active {
    display: block;
  }

  .container {
    width: 100%;
    max-width: 800px;
    margin: 70px 20px 20px 200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}