.burger {
  padding: 10px;
  cursor: pointer;
  display: none;

  div {
    width: 20px;
    background-color: blanchedalmond;
  }

  .line1 {
    height: 2px;
    margin: 2px 5px 5px 5px;
  }

  .line2 {
    height: 2px;
    margin: 5px;
  }

  .line3 {
    height: 2px;
    margin: 5px 5px 2px 5px;
  }
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
}